* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  background: #eaeaea;
  color: #fff;
  font-size: 1.8rem;
  font-family: "Exo 2", sans-serif;
  height: 100vh;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

a {
  color: #34495e;
}

#wrapper {
  width: 26.6rem;
  position: relative;
}

#txt {
  color: #eaeaea;
}

#wheel {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border-radius: 0.8rem solid #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px, rgba(0, 0, 0, 0.05) 0px 3px 0px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px, rgba(0, 0, 0, 0.05) 0px 3px 0px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

#wheel::before {
  content: '';
  position: absolute;
  border: 0.4rem solid rgba(0, 0, 0, 0.1);
  width: 24.2rem;
  height: 24.2rem;
  border-radius: 50%;
  z-index: 100;
}

#wheel .sec {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13rem 7.5rem 0;
  border-color: #19c transparent;
  -webkit-transform-origin: 7.5rem 12.9rem;
          transform-origin: 7.5rem 12.9rem;
  left: 5rem;
  top: -0.4rem;
  opacity: 1;
}

#wheel .sec:nth-child(1) {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  border-color: #16a085 transparent;
}

#wheel .sec:nth-child(2) {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
  border-color: #2980b9 transparent;
}

#wheel .sec:nth-child(3) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  border-color: #34495e transparent;
}

#wheel .sec:nth-child(4) {
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
  border-color: #f39c12 transparent;
}

#wheel .sec:nth-child(5) {
  -webkit-transform: rotate(300deg);
          transform: rotate(300deg);
  border-color: #d35400 transparent;
}

#wheel .sec:nth-child(6) {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  border-color: #c0392b transparent;
}

#wheel .sec .fa {
  margin-top: -10rem;
  color: rgba(0, 0, 0, 0.2);
  position: relative;
  display: block;
  text-align: center;
  font-size: 3.6rem;
  margin-left: -1.5rem;
  text-shadow: rgba(255, 255, 255, 0.1) 0 -0.1rem 0, rgba(0, 0, 0, 0.2) 0 0.1rem 0;
}

#inner-wheel {
  width: 100%;
  height: 100%;
  -webkit-transition: all 6s cubic-bezier(0, 0.99, 0.44, 0.99);
  transition: all 6s cubic-bezier(0, 0.99, 0.44, 0.99);
}

#spin {
  width: 6.8rem;
  height: 6.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -3.4rem 0 0 -3.4rem;
  border-radius: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0.3rem 0;
          box-shadow: rgba(0, 0, 0, 0.1) 0 0.3rem 0;
  z-index: 10;
  background: #fff;
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#spin::after {
  content: 'SPIN';
  text-align: center;
  line-height: 6.8rem;
  color: #ccc;
  text-shadow: 0 0.2rem 0 #fff, 0 -0.2rem 0 rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 11;
  width: 6.8rem;
  height: 6.8rem;
  display: block;
}

#spin::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 2rem 2.8rem 2rem;
  border-color: transparent transparent #fff transparent;
  top: -1.2rem;
  left: 1.4rem;
}

#inner-spin {
  width: 5.4rem;
  height: 5.4rem;
}
/*# sourceMappingURL=estilo.css.map */