*{
    margin: 0; padding: 0;
    text-decoration: none;
}

html{
    font-size: 62.5%;
}

body{
    background: #eaeaea;
    color: #fff;
    font-size: 1.8rem;
    font-family: "Exo 2", sans-serif;
    height: 100vh;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

a{
    color: #34495e;
}

#wrapper{
    width: 26.6rem;
    position: relative;
}

#txt{
    color: #eaeaea;
}

#wheel{
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border-radius: 0.8rem solid #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px, rgba(0, 0, 0, 0.05) 0px 3px 0px;
    transform: rotate(0deg);

    &::before{
        content: '';
        position: absolute;
        border: 0.4rem solid rgba(0,0,0, 0.1);
        width: 24.2rem;
        height: 24.2rem;
        border-radius: 50%;
        z-index: 100;
    }

    .sec{
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 13rem 7.5rem 0;
        border-color: #19c transparent;
        transform-origin: 7.5rem 12.9rem;
        left: 5rem;
        top: -0.4rem;
        opacity: 1;

        &:nth-child(1){
            transform: rotate(60deg);
            border-color: #16a085 transparent;
        }
        &:nth-child(2){
            transform: rotate(120deg);
            border-color: #2980b9 transparent;
        }
    }
}

#inner-wheel{
    width: 100%;
    height: 100%;
    transition: all 6s cubic-bezier(0, .99, .44, .99);
}